# Go
/backend/vendor/
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib
/backend/*.test
/backend/*.out
/backend/go.work

# Node
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/libpeerconnection.log
/frontendnpm-debug.log
/frontend/test-results/
/frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
